* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.hide{
	display: none;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  cursor: pointer;

}